**/__pycache__/
.venv/
*.egg-info/
dist/

styles/colors.css
config/config.json
config/dock.json
config/dock.json.bak
config/hypr/aw-shell.conf
config/hypr/colors.conf
config/matugen/matugen-state

Aw-Shell.code-workspace

*.md
!README.md
.coverage
coverage/
htmlcov/

